 .NewList {
     background-color: hsl(0, 0%, 18%);
     padding: .3rem .5rem;
     display: flex;
     gap: 1rem;

     .icon {
         background-color: blue;
         min-width: 30px;
         min-height: 30px;
     }

     input {
         flex: 1;
         min-width: none;
     }

 }