.ListButton {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
        background-color: blue;
        min-width: 30px;
        min-height: 30px;
    }

    .button-icon {
        font-size: 1.25rem;
    }

}

.ListButton:hover {
    cursor: pointer;

    .button-icon {
        // color: blue;
    }
    background-color:hsl(30, 100%, 25%);
    
}

.ListButton.selected {
    background-color:hsl(30, 100%, 20%);
}

.ListButton, .ListButton>* {
    transition: all ease-in .2s;
}