.NewItem {
    background-color: hsl(0, 0%, 18%);
    border: solid 1px hsl(0, 0%, 18%);
    border-radius: 5px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .1s ease-in-out;

    &:focus-within{
        border: solid 1px hsl(0, 0%, 100%);
    }

    .icon {
        background-color: blue;
        min-width: 30px;
        min-height: 30px;
    }

    input[type=text] {
        all: unset;
        flex: 1;
        border: none;
        min-width: none;
        background-color: hsl(0, 0%, 18%);
        color: white;
        font-family: 'Roboto', monospace;
        font-size: 1rem;
    }
    input[type=text]:focus{

    }

    .button-icon:hover {
        cursor: pointer;
    }
}