// Mobile First
.ListNav {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: hsl(0, 0%, 20%, 80%);

    .container {
        background-color: hsl(0, 0%, 10%);
        border-radius: 0 20px 20px 0;
        padding: 2rem 1rem;

        display: inline-flex;
        flex-direction: column;
        gap: .5rem;

        .Body {
            flex: 1;

            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    &.closed {
        display: none;
    }

    .fog {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    @media (min-width: map-get($breakpoints, "sm")) {
        right: auto;
        background-color: transparent;
        position: relative;

        &.closed {
            display: flex;
        }
    }

}