.App {

    height: 100vh;
    display: flex;
}

.ListNav {
    background-color: hsl(0, 0%, 10%);
    min-width: 200px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

    .Body {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .ListButton {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icon {
                background-color: blue;
                min-width: 30px;
                min-height: 30px;
            }
        }
    }
    
    
    .Footer {
        .NewTask {
            background-color: hsl(0, 0%, 18%);
            padding: .3rem .5rem;
            display: flex;
            gap: 1rem;
    
            .icon {
                background-color: blue;
                min-width: 30px;
                min-height: 30px;
            }
    
            input {
                flex: 1;
                min-width: none;
            }
    
        }
    }
}

.TaskBoard {
    flex: 1;

    background-color: hsl(0, 0%, 11%);
    padding: 2rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .Header {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
            background-color: blue;
            min-width: 30px;
            min-height: 30px;
        }
    }

    .Body {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        .Task {
            background-color: hsl(0, 0%, 18%);
            padding: .3rem .5rem;
            display: flex;
            gap: 1rem;

            .Info {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }

    .Footer {
        .NewTask {
            background-color: hsl(0, 0%, 18%);
            padding: .3rem .5rem;
            display: flex;
            gap: 1rem;

            .icon {
                background-color: blue;
                min-width: 30px;
                min-height: 30px;
            }

            input {
                flex: 1;
            }

        }
    }
}

.TaskDetails {
    background-color: hsl(0, 0%, 13%);

    min-width: 200px;
}